{% extends 'base.html' %}


{% block content %}


<H1>Buy & Sell Stocks</H1>

<form action = "buySell" class= "d-flex" method = "POST" >
        {% csrf_token %}
        <input type = "text" name = "asset">
        <input type = "quantity" name = "quantity">
        <button class="btn btn-outline-success" type="submit">BUY</button>
</form>

<form action = "sellBuy" class= "d-flex" method = "POST" >
        {% csrf_token %}
        <input type = "text" name = "asset">
        <input type = "quantity" name = "quantity">
        <button class="btn btn-outline-success" type="submit">Sell</button>
</form>
{% if errorMessage %}
    You dont have this amount to sell... you only have {{previousAmount}} shares to sell. Try again with valid sell amount
{% endif %}



{% endblock %}